@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@200..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Newsreader", serif;
  
  --color-primary: #ff8d90;
  --color-primary-container: #ff757b;
  --color-on-primary: #640014;
  
  --color-tertiary: #ffdd7c;
  --color-tertiary-container: #fecb00;
  
  --color-background: #0e0e0e;
  --color-surface: #0e0e0e;
  --color-surface-container-low: #131313;
  --color-surface-container: #1a1919;
  --color-surface-container-high: #201f1f;
  --color-surface-container-highest: #262626;
  
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #adaaaa;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans antialiased;
  }
}

.neon-glow {
  box-shadow: 0 0 20px rgba(255, 141, 144, 0.3);
}

.gold-glow {
  box-shadow: 0 0 20px rgba(255, 221, 124, 0.2);
}

.glass-nav {
  background: rgba(9, 9, 11, 0.8);
  backdrop-filter: blur(20px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
